<mat-drawer-container class="example-container">
    <mat-drawer mode="side"
        [opened]="true">
        <div class="drawer-container">
            <button *ngIf="isLogged | async"
                type="button"
                mat-raised-button
                (click)="logout()">Logout</button>
            <button *ngIf="!(isLogged | async)"
                type="button"
                mat-raised-button
                [routerLink]="['/login']">Login</button>
            <button *ngIf="!(isLogged | async)"
                type="button"
                mat-raised-button
                [routerLink]="['/register']">Register</button>
            <button type="button"
                mat-raised-button
                [routerLink]="['/home']">Home</button>
            <button type="button"
                mat-raised-button
                [routerLink]="['/bookings']">Bookings</button>

            <button type="button"
                mat-raised-button
                [routerLink]="['/profile']">Profile</button>
        </div>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>