<div class="container">
    <a [routerLink]="['/home']">
        asddsaadsasd
    </a>
    <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                type="text"
                formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                type="password"
                formControlName="password">
        </mat-form-field>
        <button type="submit"
            mat-raised-button>Basic</button>
    </form>
</div>